@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Colors */
@layer base {
  :root {
    --color-primary: 230deg 35% 7%;

    --color-secondary: 231deg 77% 90%;

    --color-three: 0deg 0% 100%;
  }
}

/* Fonts */
h1,
h2,
h3,
h4 {
  font-family: var(--font-bellefair);
}

h5,
.sub-heading2,
.nav-text {
  font-family: var(--font-barlow_condensed);
}

p,
.sub-heading1 {
  font-family: var(--font-barlow);
}
