@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Colors */
@layer base {
  :root {
    --color-primary: 230deg 35% 7%;

    --color-secondary: 231deg 77% 90%;

    --color-three: 0deg 0% 100%;
  }
}

/* Font Family */
h1,
h2,
h3,
h4,
.slider2,
.subheading1 {
  font-family: var(--font-bellefair);
}

h5,
li,
.subheading2,
.nav-text {
  font-family: var(--font-barlow_condensed);
}

.body-text {
  font-family: var(--font-barlow);
}

/* Font Size */
h1 {
  font-size: 9.375rem;
  line-height: 1;
}

h2 {
  font-size: 6.25rem;
  line-height: 1;
}

h3 {
  font-size: 3.5rem;
  line-height: 1;
}

h4 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h5 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.25em;
}

.subheading1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.subheading2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
}

.nav-text {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}

.body-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

li {
  letter-spacing: 0.25em;
}

/* Font size for tablet */
@media (max-width: 1024px) {
  h2 {
    font-size: 5rem;
    line-height: 1;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.25em;
  }

  .subheading2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
  }

  .nav-text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
  }

  .body-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  li {
    letter-spacing: 0.25em;
  }
}

/* Font size for mobile */
@media (max-width: 640px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1;
    letter-spacing: 0.05em;
  }

  h2 {
    font-size: 3.75rem;
    line-height: 1;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .subheading2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
  }

  .nav-text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
  }

  .body-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  li {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* Buttons */
.explore-button {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.explore-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--color-three) / 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.explore-button:hover::after {
  opacity: 1;
  transform: scale(1.5);
}

/* Other */
.active {
  color: red;
}
